body {
    background-color: lightpink;
}

#banner {
    width: 100%;
}

.principal {
    background: beige 
    padding: 30px;
    
}


.h1 {
    background-color: beige;
    text-align: center;
    
}
 
.h2 {
    background-color: beige;
    text-align: center;
    
}


.p {
    background-color: beige;
    text-align: center;
}

#download {

    margin-left: 800px;
    border-style: ridge;

}

.p1 {
    margin-left: 700px;
}

#download.j {
    width: 30px;
}

